<h1>Stocks page</h1>
Last updated: <%= @stocks.first.updated_at.to_date %>

Currently Still under construction.
This app checks for 10 of the 12 tips from <%= link_to "NASDAQ", "http://www.nasdaq.com/investing/dozen/"%> to see if the stock is worth buying.
According to NASDAQ, stocks above a score of 8 are great buys and scores above a score of 6 are decent buys. This is not investment advice, please buy at your own discretion.



<%=form_tag "stocks", method: :post do %>
<%= text_field_tag "name" %>
<%= submit_tag "update" %>
<% end %>

<br><br>
<table>
    <tr>
        <td>Stock Name</td>
        <td>Price</td>
        <td>Dividends</td>
        <td>Revenue Score</td>
        <td>EPS Score</td>
        <td>ROE Score</td>
        <td>Analyst Recommendation</td>
        <td>Surprises</td>
        <td>Forecast</td>
        <td>Earnings Growth</td>
        <td>Short Interest</td>
        <td>Insider Trading</td>
        <td>Passing Scores</td>
        <td>Updated on</td>
        <!--<td>Failing Scores</td>-->
    </tr>
<%= render @stocks %>
</table>

<%= will_paginate %>