<h1>Stocks page</h1>
Last updated: <%= @stocks.first.updated_at.to_date %>

<%=form_tag stocks_path, method: :post do %>
<%= text_field_tag "letter" %>
<%= submit_tag "update" %>
<% end %>

<br><br>
<table>
    <tr>
        <td>Stock Name</td>
        <td>Price</td>
        <td>Dividends</td>
        <td>Revenue Score</td>
        <td>EPS Score</td>
        <td>ROE Score</td>
        <td>Analyst Recommendation</td>
        <td>Surprises</td>
        <td>Forecast</td>
        <td>Earnings Growth</td>
        <td>Short Interest</td>
        <td>Insider Trading</td>
        <td>Passing Scores</td>
        <!--<td>Failing Scores</td>-->
    </tr>
<%= render @stocks %>
</table>

<%= will_paginate %>